extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 WELCOME !!
        | New User ?
        | #[a(href='/home') Sign Up !]<br/><br/>

        | Already a user ?
        | #[a(href='/signin') Sign In !]
